// Neutrals
$neutral-900: #222831;
$neutral-800: #393e46;
$neutral-700: #4c4637;
$neutral-600: #393e46;
$neutral-500: #393e46;
$neutral-400: #88919b;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #f0f5f9;
$neutral-0: #ffffff;

// Blues
$blue-400: #00adb5;
$blue-200: #00adb5;
$blue-100: #36bcdd;

// Browns
$brown-500: #4c4637;
$brown-100: #b1ab99;

// Reds
$red-200: #fb8d76;
$red-400: #f95b3b;

// Yellows
$yellow-500: #f9a620;
$yellow-400: #b97e20;
$yellow-200: #f9d225;
$yellow-100: #f2da6e;
$yellow-50: #ebeccf;
$yellow-0: #f9f5e8;

// Greens
$green-200: #2fe05f;

// Shadows
$shadow-normal: rgba(136, 153, 166, 0.2) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
$shadow-raised: rgba(255, 200, 0, 0.25) 0 0 15px,
  rgba(246, 255, 0, 0.15) 0 0 3px 1px;
